@media (max-width:1000px) {
    .full-container{
        flex-direction: column;
        flex-direction: column-reverse;

    }
    .inform-container{
        margin: 50px 0px;
        height: 90%;
        margin: 20px;
    }
    br{
        display: block;
    }
}


@media  (max-width:800px)  {

    .container-menu{
        display: none;
    }
    @media (max-width:800px)  {

        .container-menu{
            display: none;
        }
        .slide {
            position: absolute;
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            left: -100%;
            
          
            padding: 15px 0;
            background-color:rgb(233, 232, 231, 0.9);
            border: 1px solid #000000;
            
            z-index: 100;
          
            transition: left 0.35s ease-in-out;
          }
          #open{
            display: none;
          }
    
        .burger{
            position: fixed;
            display:block ;
    }
        .content-container{
            margin-left: 0px;
        }
    
    
        .footer-container{
            margin-left: 0px;
        }
    }

    .footer-container{
        margin-left: 0px;
    }
}