@media (max-width:1000px)  {
    .media{
        display: block;
         }

    .content-one{
        margin-bottom: 30px;
        
    }
    .three-line-container{
        display: block;
    }
    .container-three{
       margin-bottom: 50px;

    }

    .img-two{
        height: 150px;
        width: 170px;
    }
   
    

}

@media (max-width:800px)  {

    .container-menu{
        display: none;
    }
    .slide {
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        left: -100%;
      
      
        padding: 15px 0;
        background-color:rgb(233, 232, 231, 0.9);
        border: 1px solid #000000;
        
        z-index: 100;
      
        transition: left 0.35s ease-in-out;
      }
      #open{
        display: none;
      }

    .burger{
        position: fixed;
        display:block ;
}
    .content-container{
        margin-left: 0px;
    }


    .footer-container{
        margin-left: 0px;
    }
}

@media (max-width:650px)  {
    .two-line-container{
        display: block;
    }
    .img-two{
        height: 180px;
        width: 430px;
    }
    .content-two{
        margin-bottom: 50px;
    }
}

@media (max-width:500px)  {
    .one-line-content{
        display: block;
        
    }
    .info{
        justify-content: space-between;
    }
   
}