@media (max-width:1000px)  {
    .media{
        display: block;
         }

    .content-one{
        margin-bottom: 30px;
        
    }
    .three-line-container{
        display: block;
    }
    .container-three{
       margin-bottom: 50px;

    }

    .img-two{
        height: 150px;
        width: 170px;
    }
   
    

}

@media (max-width:800px)  {

    .container-menu{
        display: none;
    }
    .content-container{
        margin-left: 0px;
    }


    .footer-container{
        margin-left: 0px;
    }
}

@media (max-width:650px)  {
    .two-line-container{
        display: block;
    }
    .img-two{
        height: 180px;
        width: 430px;
    }
    .content-two{
        margin-bottom: 50px;
    }
}

@media (max-width:500px)  {
    .one-line-content{
        display: block;
        
    }
    .info{
        justify-content: space-between;
    }
   
}